:host {
    width: 80%;
    height: 90%;
    left: 10%;
    top: 0;
    position: absolute;
    z-index: 1;    
}

#material {
    display: block;
    width: 100%;
    min-height: 100%;
    background-color: #FAFAFA;
    padding-bottom: 0;
}

#container {
    position: relative;
    top: 0;
    padding: 2rem;
    min-height: calc(100% - 3rem);
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    height: 3rem;
    border-top: 1px solid gray;
    padding: 1rem;
}

footer span.page-number {
    float: right;
}