.slide__wrapper {
    display: block;
    width: 100%;
    height: 100%;

    color: #212121;

    &.title {
        text-align: center;
    }
}

.title {

    &__main {
        font-size: 2rem;
        font-weight: bolder;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    &__logo {
        display: inline-block;
        height: 200px;
    }

    &__author {
        color: #212121;
        margin: 2rem 0;
    }

    &__nick {
        font-family: 'Roboto Mono';
        font-weight: bolder;
        color: #727272;
    }
}