:host {
}

#logo-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 3rem;
}

img.logo {
    position: relative;
    z-index: 1;
    max-width: none;
    padding: .6em;
    height: 100%;
}

img.logo--shadow-mask {
    position: absolute;
    z-index: 0;
    -webkit-filter: blur(2px) brightness(0);
}

paper-toolbar {
    margin-bottom: -4rem;
}

h1 {
    height: 100%;
    display: inline-block;    
    margin-left: 1rem;
    vertical-align: middle;
    width: 5rem;
    line-height: 1.2em;
}

.navigate {
    display: inline-block;
    min-width: 2rem;
}
